#container {
  width: 100%;
  color: var(--font-color);
  font-size: 0.9rem;
}

/* headerとsectionには、横幅のサイズを指定するためのwrapper
という名前の共通クラスを指定している */
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
header > div {
  background-color: var(--beige);
}

#title_logo {
  flex-direction: row;
  justify-content: center;
}

#menu-icon {
  display: none;
}

#dropdown-menu {
  z-index: 20;
  position: fixed;
  top: 80px;
  left: 2px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#dropdown-menu > ul > li {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: var(--dark-beige);
  color: var(--font-color);
  padding: 10px;
  margin-bottom: 1px;
  width: 150px;
}

#dropdown-menu > ul :hover {
  background-color: var(--yellow);
  font-size: 1.2rem;
}

#title {
  font-size: 3.2em;
  line-height: 1.1;
  min-width: 160px;
}

#mainvisual {
  max-width: 100%;
}

#manyPlatypus {
  height: 300px;
  max-width: 1920px;
  background-color: var(--white);
  border-radius: 1.5rem;
}

nav > ul > li {
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
  text-decoration-color: var(--lighter-blue);
}

li a:hover {
  opacity: 0.7;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

#portfolio > ul {
  display: flex;
  justify-content: space-between;
}
.portfolio-item {
  width: 32%;
}
#footer {
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  main,
  #container {
    min-width: 350px;
  }
  #mainvisual img {
    width: calc(100vw - 10px);
    min-width: 350px;
    height: auto;
    object-fit: contain;
  }
  #title_logo {
    min-width: 350px;
  }

  #title_logo > a {
    flex-flow: row-reverse;
    margin-left: 40px;
  }

  #logo {
    height: 50px;
    width: auto;
  }
  #menu-icon {
    display: flex;
    position: fixed;
    margin-top: 17px;
  }

  #title {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  #portfolio > ul {
    flex-direction: column;
  }
  .portfolio-item {
    width: 100%;
    margin-bottom: 30px;
  }

  #about-text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
