:root {
  --yellow: #ffa62b;
  --darker-blue: #16697a;
  --main-blue: #489fb5;
  --lighter-blue: #82c0cc;
  --beige: #ede7e3;
  --dark-beige: #cebeb3;
  --font-color: #383e45;
  --white: rgb(240, 240, 241);
}

#root {
  margin: 0 auto;
  text-align: center;
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

/* width: 100vw added to Prevent the Layout Shift Caused by Scrollbars */
html {
  font-size: 100%;
  background-color: var(--beige);
  width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
