:root {
  --bill-color: #ffa62b;
  --darker-color: #16697a;
  --base-color: #489fb5;
  --lighter-color: #82c0cc;
  --eye-color: #ede7e3;
  --font-color: #383e45;
  --white: rgb(240, 240, 241);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

html {
  font-size: 100%;
  background-color: var(--eye-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
